<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="generator" content="Responsive Site Designer 1.5.1350 - Beta Version">
  <title>Contact Us</title>
  <link rel="stylesheet" href="css/coffeegrinder.min.css">
  <link rel="stylesheet" href="css/wireframe-theme.min.css">
  <script>document.createElement( "picture" );</script>
  <script src="js/picturefill.min.js" class="picturefill" async="async"></script>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed%7CRoboto:300,400,b">
<!-- SMOOTH SCROLL -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>
<!-- End of SMOOTH SCROLL -->
</head>

<body class="grid-2">
  <div class="row heading-row">
    <header class="coffee-span-10 welcome_text" id="backtotop">
      <div class="responsive-picture logo">
        <picture><img alt="Placeholder Picture" srcset="./Expatik_logo.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
        </picture>
      </div>
      <h3 class="welcome-heading"><span class="heading-text-1">EXPAT<span class="heading-text-2">ik</span></span><br>
      </h3><a href="#description" class="link-button-glyph scroll-down"></a>
    </header>
  </div>
  <div class="row narrow-row portfolio-description" id="description">
    <div class="coffee-span-10">
      <h2>questions? &nbsp;send us a message</h2>
    </div>
    <div class="coffee-span-6 coffee-849-span-10 column-1"><input value="" name="text-name" type="text"><input value="" name="email-name" type="email" pattern="" title="" required="required"><input value="" name="text-name" type="text" class="input-1"><button type="submit" formmethod="post" class="button-submit-1" formenctype="text/plain">Send</button>
    </div>
  </div>
  <footer class="row footer">
    <div class="coffee-span-10 footer-col">
      <h5 class="heading-2">About Us</h5>
      <div class="container footer_contact"><a href="#" target="_blank" class="social-image social-icon-5"><img class="facebook-icon" src="./socialicons/webicon-facebook.png" alt="Social Icon"></a><a href="#" target="_blank" class="social-image social-icon-4"><img class="twitter-icon" src="./socialicons/webicon-twitter.png" alt="Social Icon"></a><a href="#" target="_blank" class="social-image social-icon-3"><img class="googleplus-icon" src="./socialicons/webicon-googleplus.png" alt="Social Icon"></a><a href="#" target="_blank" class="social-image social-icon-2"><img class="youtube-icon" src="./socialicons/webicon-youtube.png" alt="Social Icon"></a><a href="#" target="_blank" class="social-image social-icon-1"><img class="linkedin-icon" src="./socialicons/webicon-linkedin.png" alt="Social Icon"></a>
      </div><a href="#backtotop" class="responsive-picture" title="Back To Top" id="backtotoparrow"><picture><img alt="Back To Top" srcset="./CC_Theme/back-to-top-button.png" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></picture></a>
    </div>
  </footer>
<script>
if(navigator.userAgent.match(/Trident\/7\./)) {
  document.body.addEventListener("mousewheel", function() {
    event.preventDefault();
    var wd = event.wheelDelta;
    var csp = window.pageYOffset;
    window.scrollTo(0, csp - wd);
  });
}
</script>
</body>

</html>
