

<h1>HELLO EXPATS</h1>
<h2>Find me in app/views/pages/home.html.erb</h2>
<%= 'HOLA EXPATS AGAIN' %>
<h2>More information</h2>
<!-->
<%= image_tag "Budapest1.jpg" %>
<%= image_tag "Budapest2.jpg" %>
<!-->
<script type="text/javascript">
var image1 = new.Image()
image1.src = "Budapest1.jpg"

var image2 = new.Image()
image2.src = "Budapest2.jpg"

var image3 = new.Image()
image3.src = "Budapest3.jpg"

var image4 = new.Image()
image4.src = "Medellin1.jpg"

</script>
<style>

body{background: blue; margin: 0 auto; text-align: center}
</style>

<img src="Budapest1.jpg" name="sildeshow" alt="imageslideshow">
<script type="text/javascript">
var numberImage = 1
function myslide(){
document.images.slideshow.src=eval("image"+numberImage+".src")
if(numberImage < 4)
  numberImage = numberImage + 1
  else
  numberImage = 1
  setTimeout("myslide()", 4500)
}
myslide()

</script>
