/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
   Place all the styles related to the matching controller here.
   They will automatically be included in application.css.
 */

 /*  ====================================
     GOOGLE MAPS STYLING
   ==================================== */
 html, body {
   height: 100%;
   margin: 0;
   padding: 0;
 }
 #map {
   height: 100%;
 }

 function initMap() {
   var customMapType = new google.maps.StyledMapType([
       {
         stylers: [
           {hue: '#007fff'},
           {visibility: 'simplified'},
           {gamma: 0.5},
           {weight: 0.5}
         ]
       },
       {
         elementType: 'labels',
         stylers: [{visibility: 'off'}]
       },
       {
         featureType: 'water',
         stylers: [{color: '#890000'}]
       }
     ], {
       name: 'Custom Style'
   });
   var customMapTypeId = 'custom_style';

   var map = new google.maps.Map(document.getElementById('map'), {
     zoom: 12,
     center: {lat: 40.674, lng: -73.946},  // Brooklyn.
     mapTypeControlOptions: {
       mapTypeIds: [google.maps.MapTypeId.ROADMAP, customMapTypeId]
     }
   });

   map.mapTypes.set(customMapTypeId, customMapType);
   map.setMapTypeId(customMapTypeId);
 }
