/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
   Place all the styles related to the matching controller here.
   They will automatically be included in application.css.
 */

 /*  ====================================
     GOOGLE MAPS STYLING
   ==================================== */

 #map {
  height: 300px;
  width: 100%;
}

/* Text Elements */

h2 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #b89ade;
  color: #5b3984;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

h2.heading-3 {
  padding-top: 46px;
}

h3.welcome-heading {
  margin-top: 20px;
  margin-right: 0;
  padding-top: 20px;
  max-width: 800px;
  width: 80%;
  border-top: 1px dotted rgba(255, 255, 255, .1450980392156863);
  line-height: 1;
}

h3 {
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

h3 span.heading-text-1 {
  letter-spacing: 9px;
  font-weight: 800;
  font-size: 70px;
}

h3 span.heading-text-2 {
  color: #cfcbaf;
}

h5 {
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 27px;
  font-family: 'Roboto', sans-serif;
}

h5.heading-1 {
  position: static;
  margin-top: 22px;
  padding-top: 13px;
}

p.paragraph {
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

p.paragraph.portfolio-description {
  width: 100%;
  color: #5f5f5f;
  text-align: left;
}

p.paragraph span.strong {
  font-weight: 700;
}

p.paragraph span.emphasize {
  font-style: italic;
}

p.paragraph.welcome-paragraph {
  max-width: 800px;
  width: 80%;
  color: rgba(255, 255, 255, .8);
}

p.paragraph span.paragraph-text-1 {
  font-size: 21px;
}

a.link-text {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(222, 225, 228, .2);
  border-bottom: 1px solid rgba(222, 225, 228, .2);
  color: #dee1e4;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

a.link-text:hover {
  border-top-color: rgba(222, 225, 228, .5019607843137255);
  border-bottom-color: rgba(222, 225, 228, .5019607843137255);
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

/* Interaction Elements */

a.link-button {
  margin-right: 0;
  margin-left: 0;
  background-color: transparent;
  color: #555;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

a.link-button.toc-link {
  display: block;
  margin-bottom: 40px;
  margin-left: 0;
  line-height: 1.2;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

a.link-button:hover {
  color: #8d8d8d;
  text-decoration: none;
}

a.link-button.toc-link:hover {
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

select.select.drop-down-1 {
  min-height: 90px;
  max-width: none;
  width: 35%;
  letter-spacing: 2px;
  font-size: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  opacity: .91;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}

/* Layout Elements */

body > .row {
  max-width: none;
  width: auto;
  background-image: none;
}

body {
  height: 100%;
}

body > .row.footer {
  padding-top: 90px;
  padding-bottom: 0;
  min-height: 25px;
  height: 60%;
  background-color: #142b44;
}

body > .row.narrow-row {
  max-width: 1200px;
}

body > .row > [class*='coffee-span-'].footer-col {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
       -o-flex-direction: column;
          flex-direction: column;
  height: 50%;

  -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
       -o-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
       -o-align-items: center;
          align-items: center;
}

body > .row.narrow-row.portfolio-description {
  margin-top: 23px;
  margin-bottom: 66px;
  padding-top: 1px;
  padding-right: 44px;
  padding-left: 40px;
  background-image: none;
  background-attachment: fixed;
  background-position: center -2.7%;
  background-size: cover;
  background-repeat: repeat;
}

body > .row > [class*='coffee-span-'].welcome_text {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
       -o-flex-direction: column;
          flex-direction: column;
  min-height: 50px;
  height: 100%;
  background-color: #1d508d;
  background-image: -webkit-linear-gradient(180deg, rgba(20, 43, 68, 1) 0%, rgba(40, 138, 214, 1) 100%);
  background-image:    -moz-linear-gradient(180deg, rgba(20, 43, 68, 1) 0%, rgba(40, 138, 214, 1) 100%);
  background-image:     -ms-linear-gradient(180deg, rgba(20, 43, 68, 1) 0%, rgba(40, 138, 214, 1) 100%);
  background-image:      -o-linear-gradient(180deg, rgba(20, 43, 68, 1) 0%, rgba(40, 138, 214, 1) 100%);
  background-image:         linear-gradient(180deg, rgba(20, 43, 68, 1) 0%, rgba(40, 138, 214, 1) 100%);
  background-position: center center;
  background-size: cover;

  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
       -o-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
       -o-justify-content: center;
          justify-content: center;
}

body > .row.heading-row {
  width: 100%;
  height: 100%;
}

body > .row.heading-row_cp {
  width: 100%;
  height: 10%;
}

a.responsive-picture#backtotoparrow {
  position: fixed;
  right: 10px;
  bottom: 0;
  float: right;
  padding-right: 20px;
  padding-bottom: 20px;
  max-width: 70px;
  opacity: .6;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

.row > [class*='coffee-span-'] > .container.footer_contact {
  position: static;
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  clear: both;
  overflow: auto;
  margin-top: 49px;
  margin-bottom: 15px;
  margin-left: 0;
  padding-top: 12px;
  min-height: 75px;
  vertical-align: middle;

  -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
       -o-justify-content: center;
          justify-content: center;
  -webkit-align-content: center;
     -moz-align-content: center;
      -ms-align-content: center;
       -o-align-content: center;
          align-content: center;
  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
       -o-align-items: center;
          align-items: center;
}

a.social-image {
  margin-right: 1%;
  margin-left: 1%;
  min-width: 0;
  max-width: 60px;
  width: 100%;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  background-color: #802e66;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: background-color;
     -moz-transition-property: background-color;
      -ms-transition-property: background-color;
       -o-transition-property: background-color;
          transition-property: background-color;
}

a.responsive-picture.toc-thumbnail {
  margin: 10px auto;
  max-width: 280px;
  width: 80%;
  box-shadow: rgba(0, 0, 0, .34509803921568627) 0 2px 5px 0;
  -webkit-transition-timing-function: ease;
     -moz-transition-timing-function: ease;
      -ms-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .7s;
     -moz-transition-duration: .7s;
      -ms-transition-duration: .7s;
       -o-transition-duration: .7s;
          transition-duration: .7s;
}

a.link-button-image.get-RSD-bt {
  position: static;
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  float: left;
  margin-top: 7px;
  margin-bottom: 25px;
  padding: 0 20px 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  background-color: #f2bc29;
  vertical-align: middle;
  -webkit-transition-duration: .15s;
     -moz-transition-duration: .15s;
      -ms-transition-duration: .15s;
       -o-transition-duration: .15s;
          transition-duration: .15s;

  -webkit-justify-content: flex-start;
     -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
       -o-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
       -o-align-items: center;
          align-items: center;
  -webkit-align-content: center;
     -moz-align-content: center;
      -ms-align-content: center;
       -o-align-content: center;
          align-content: center;
  -webkit-align-self: center;
     -moz-align-self: center;
      -ms-align-self: center;
       -o-align-self: center;
          align-self: center;
}

div.image-for-button.bt-image {
  float: left;
}

span.link-button-text.bt-text {
  float: left;
  font-weight: 700;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

span.link-button-text.scroll-down-text {
  display: block;
  color: rgba(255, 255, 255, .7450980392156863);
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

span.glyph-for-button.scroll-down-icon {
  position: static;
  display: block;
  float: none;
  clear: none;
  margin-top: 0;
  margin-bottom: 47px;
  padding-top: 0;
  color: rgba(255, 255, 255, .5058823529411764);
  text-align: center;
  font-size: 30px;
  -webkit-transition-timing-function: ease;
     -moz-transition-timing-function: ease;
      -ms-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

a.link-button-glyph.scroll-down {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  -webkit-flex-direction: column-reverse;
     -moz-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
       -o-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 70px;
  border-top-left-radius: 0 0;
  border-top-right-radius: 0 0;
  border-bottom-right-radius: 0 0;
  border-bottom-left-radius: 0 0;
  background-color: transparent;
  -webkit-transition-duration: .5s;
     -moz-transition-duration: .5s;
      -ms-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
}

div.responsive-picture.logo {
  max-width: 300px;
  width: 80%;
  border-top-left-radius: 100px 100px;
  border-top-right-radius: 100px 100px;
  border-bottom-right-radius: 100px 100px;
  border-bottom-left-radius: 100px 100px;
}
div.logo_cp {
  width: 20%;
  border-top-left-radius: 100px 100px;
  border-top-right-radius: 100px 100px;
  border-bottom-right-radius: 100px 100px;
  border-bottom-left-radius: 100px 100px;
  width: 25%;
}

a.social-image.social-icon-1 {
  border-top-left-radius: 100px 100px;
  border-top-right-radius: 100px 100px;
  border-bottom-right-radius: 100px 100px;
  border-bottom-left-radius: 100px 100px;
  background-color: #f2bc29;
  box-shadow: none;
}

a.social-image.social-icon-2 {
  border-width: 0;
  border-top-left-radius: 100px 100px;
  border-top-right-radius: 100px 100px;
  border-bottom-right-radius: 100px 100px;
  border-bottom-left-radius: 100px 100px;
  background-color: #f2bc29;
  box-shadow: #3b444f 2px 2px 10px 3px;
}

a.social-image.social-icon-3 {
  border-top-left-radius: 100px 100px;
  border-top-right-radius: 100px 100px;
  border-bottom-right-radius: 100px 100px;
  border-bottom-left-radius: 100px 100px;
  background-color: #f2bc29;
}

a.social-image.social-icon-4 {
  border-top-left-radius: 100px 100px;
  border-top-right-radius: 100px 100px;
  border-bottom-right-radius: 100px 100px;
  border-bottom-left-radius: 100px 100px;
  background-color: #f2bc29;
}

a.social-image.social-icon-5 {
  border-top-left-radius: 100px 100px;
  border-top-right-radius: 100px 100px;
  border-bottom-right-radius: 100px 100px;
  border-bottom-left-radius: 100px 100px;
  background-color: #f2bc29;
}

a.social-image:hover {
  background-color: #af478e;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: background-color;
     -moz-transition-property: background-color;
      -ms-transition-property: background-color;
       -o-transition-property: background-color;
          transition-property: background-color;
}

a.responsive-picture.toc-thumbnail:hover {
  box-shadow: rgba(0, 0, 0, .2) 0 10px 15px 0;
  -webkit-transition-timing-function: ease-in;
     -moz-transition-timing-function: ease-in;
      -ms-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-duration: .1s;
     -moz-transition-duration: .1s;
      -ms-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transform: scale(1.1) translateY(-3px) rotate(0deg) skewX(0deg) skewY(0deg);
     -moz-transform: scale(1.1) translateY(-3px) rotate(0deg) skewX(0deg) skewY(0deg);
      -ms-transform: scale(1.1) translateY(-3px) rotate(0deg) skewX(0deg) skewY(0deg);
       -o-transform: scale(1.1) translateY(-3px) rotate(0deg) skewX(0deg) skewY(0deg);
          transform: scale(1.1) translateY(-3px) rotate(0deg) skewX(0deg) skewY(0deg);
}

a.responsive-picture#backtotoparrow:hover {
  opacity: 1;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

a.link-button-glyph.scroll-down:hover {
  padding-top: 100px;
  padding-right: 30px;
  padding-bottom: 20px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(180deg, rgba(173, 86, 213, 0) 0%, rgba(131, 85, 152, .35294117647058826) 100%);
  background-image:    -moz-linear-gradient(180deg, rgba(173, 86, 213, 0) 0%, rgba(131, 85, 152, .35294117647058826) 100%);
  background-image:     -ms-linear-gradient(180deg, rgba(173, 86, 213, 0) 0%, rgba(131, 85, 152, .35294117647058826) 100%);
  background-image:      -o-linear-gradient(180deg, rgba(173, 86, 213, 0) 0%, rgba(131, 85, 152, .35294117647058826) 100%);
  background-image:         linear-gradient(180deg, rgba(173, 86, 213, 0) 0%, rgba(131, 85, 152, .35294117647058826) 100%);
  -webkit-transition-duration: .1s;
     -moz-transition-duration: .1s;
      -ms-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

@media screen and (max-width: 849px) {
  /* Text Elements */

  h2 {
    font-size: 24px;
  }

  h2 span.heading-text-3 {
    color: #684e79;
    font-weight: 400;
    font-size: 27px;
  }

  h3.welcome-heading {
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 10px;
    font-size: 22px;
  }

  h3 span.heading-text-1 {
    font-size: 46px;
  }

  h5 {
    padding: 6px 20px;
    background-color: rgba(0, 0, 0, .7000076295109483);
    font-size: 18px;
  }

  h5.heading-2 {
    margin-bottom: -13px;
    background-color: #142b44;
  }

  h5.heading-1 {
    background-color: #142b44;
    background-image: none;
  }

  p.paragraph.portfolio-description {
    font-size: 14px;
  }

  p.paragraph.welcome-paragraph {
    font-size: 14px;
  }

  p.paragraph span.paragraph-text-1 {
    font-size: 15px;
  }

  a.link-text {
    font-size: 14px;
  }

  a.link-text.text-link-1 {
    color: #feef6d;
  }

  /* Interaction Elements */

  button[type=submit].button-submit-1 {
    display: block;
    text-align: center;

    -webkit-align-self: center;
       -moz-align-self: center;
        -ms-align-self: center;
         -o-align-self: center;
            align-self: center;
  }

  a.link-button.toc-link {
    display: none;
    margin-bottom: 0;
    padding-bottom: 10px;
  }

  input[type=text].input-1 {
    min-width: 300px;
    max-width: 250px;
    width: 50%;
  }

  select.select.drop-down-1 {
    position: static;
    left: auto;
    display: block;
    float: none;
    clear: none;
    overflow: hidden;
    margin-right: 0;
    margin-left: 0;
    min-width: 200px;
    width: 35%;
    border: 0 solid #dbe6ec;
    background-color: #ecebed;
    box-shadow: none;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    white-space: pre;
    word-spacing: 0;
    letter-spacing: 2px;
    font-variant: small-caps;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    opacity: .91;
    -webkit-transform: scale(1) translateX(0px) translateY(0px) skewX(0deg);
       -moz-transform: scale(1) translateX(0px) translateY(0px) skewX(0deg);
        -ms-transform: scale(1) translateX(0px) translateY(0px) skewX(0deg);
         -o-transform: scale(1) translateX(0px) translateY(0px) skewX(0deg);
            transform: scale(1) translateX(0px) translateY(0px) skewX(0deg);

    -webkit-align-self: center;
       -moz-align-self: center;
        -ms-align-self: center;
         -o-align-self: center;
            align-self: center;
    -webkit-order: 0;
       -moz-order: 0;
        -ms-order: 0;
         -o-order: 0;
            order: 0;
    -webkit-flex: 0 1 0;
       -moz-flex: 0 1 0;
        -ms-flex: 0 1 0;
         -o-flex: 0 1 0;
            flex: 0 1 0;
  }

  /* Layout Elements */

  body > .row.footer {
    padding-top: 26px;
    padding-bottom: 52px;
    height: auto;
    background-image: -webkit-linear-gradient(180deg, rgba(20, 43, 68, 1) 0%, rgba(20, 43, 68, 1) 33%, rgba(20, 43, 68, 1) 33%, rgba(44, 54, 67, 1) 100%);
    background-image:    -moz-linear-gradient(180deg, rgba(20, 43, 68, 1) 0%, rgba(20, 43, 68, 1) 33%, rgba(20, 43, 68, 1) 33%, rgba(44, 54, 67, 1) 100%);
    background-image:     -ms-linear-gradient(180deg, rgba(20, 43, 68, 1) 0%, rgba(20, 43, 68, 1) 33%, rgba(20, 43, 68, 1) 33%, rgba(44, 54, 67, 1) 100%);
    background-image:      -o-linear-gradient(180deg, rgba(20, 43, 68, 1) 0%, rgba(20, 43, 68, 1) 33%, rgba(20, 43, 68, 1) 33%, rgba(44, 54, 67, 1) 100%);
    background-image:         linear-gradient(180deg, rgba(20, 43, 68, 1) 0%, rgba(20, 43, 68, 1) 33%, rgba(20, 43, 68, 1) 33%, rgba(44, 54, 67, 1) 100%);
  }

  body > .row.narrow-row.portfolio-description {
    margin-top: 10px;
    margin-bottom: 0;
  }

  body > .row > [class*='coffee-span-'].welcome_text {
    padding-top: 60px;
    padding-right: 8px;
    padding-bottom: 60px;
    min-height: 50px;
    height: 100%;
    background-image: -webkit-linear-gradient(180deg, rgba(44, 54, 67, 1) 0%, rgba(40, 138, 214, 1) 100%);
    background-image:    -moz-linear-gradient(180deg, rgba(44, 54, 67, 1) 0%, rgba(40, 138, 214, 1) 100%);
    background-image:     -ms-linear-gradient(180deg, rgba(44, 54, 67, 1) 0%, rgba(40, 138, 214, 1) 100%);
    background-image:      -o-linear-gradient(180deg, rgba(44, 54, 67, 1) 0%, rgba(40, 138, 214, 1) 100%);
    background-image:         linear-gradient(180deg, rgba(44, 54, 67, 1) 0%, rgba(40, 138, 214, 1) 100%);
  }

  body > .row > [class*='coffee-span-'].welcome_text_cp {
    padding-top: 1%;
    padding-right: 8px;
    padding-bottom: 1%;
    min-height: 50px;
    height: 10%;
    background-image: -webkit-linear-gradient(180deg, rgba(44, 54, 67, 1) 0%, rgba(40, 138, 214, 1) 100%);
    background-image:    -moz-linear-gradient(180deg, rgba(44, 54, 67, 1) 0%, rgba(40, 138, 214, 1) 100%);
    background-image:     -ms-linear-gradient(180deg, rgba(44, 54, 67, 1) 0%, rgba(40, 138, 214, 1) 100%);
    background-image:      -o-linear-gradient(180deg, rgba(44, 54, 67, 1) 0%, rgba(40, 138, 214, 1) 100%);
    background-image:         linear-gradient(180deg, rgba(44, 54, 67, 1) 0%, rgba(40, 138, 214, 1) 100%);
  }

  body > .row.heading-row {
    height: auto;
  }

  body.grid-1 {
    background-image: url('../Screen%20Shot%202016-05-01%20at%2011.16.11%20PM.png');
    background-attachment: fixed;
    background-position: center top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 100% 100%;
    background-repeat: repeat;
    opacity: 1;
  }

  body.grid-2 {
    height: auto;
  }

  body > .row > [class*='coffee-span-'].column-1 {
    display: inline-block;
    float: none;
    text-align: left;
  }

  a.responsive-picture.toc-thumbnail {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  a.social-image {
    min-width: 0;
    max-width: 35px;
  }

  .row > [class*='coffee-span-'] > .container.footer_contact {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  a.link-button-image.get-RSD-bt {
    float: none;
    padding-right: 5px;
    padding-bottom: 5px;
    background-color: #ffc83f;
    background-image: none;
    background-attachment: fixed;
    background-clip: content-box;
    background-origin: border-box;
    background-size: 1% 100%;
    background-repeat: no-repeat;
    -webkit-transform: skewX(0deg) skewY(0deg);
       -moz-transform: skewX(0deg) skewY(0deg);
        -ms-transform: skewX(0deg) skewY(0deg);
         -o-transform: skewX(0deg) skewY(0deg);
            transform: skewX(0deg) skewY(0deg);

    -webkit-justify-content: center;
       -moz-justify-content: center;
        -ms-justify-content: center;
         -o-justify-content: center;
            justify-content: center;
  }

  span.link-button-text.bt-text {
    font-size: 16px;
    line-height: 1;
  }

  div.image-for-button.bt-image {
    min-width: 0;
    max-width: 50px;
  }

  a.link-button-glyph.scroll-down {
    display: none;
  }

  div.responsive-picture.logo {
    max-width: 200px;
    width: 70%;
  }
}
